[submodule "themes/manis"]
	path = themes/manis
	url = https://github.com/yursan9/manis-hugo-theme.git
[submodule "themes/shiori"]
	path = themes/shiori
	url = https://github.com/chibicode/hugo-theme-shiori.git
[submodule "themes/strange-case"]
	path = themes/strange-case
	url = https://github.com/ExchangeRate-API/strange-case.git
[submodule "themes/cocoa"]
	path = themes/cocoa
	url = https://github.com/nishanths/cocoa-hugo-theme
[submodule "themes/developer"]
	path = themes/developer
	url = https://github.com/IamSwap/hugo-theme-developer.git
